
@* This is razor page with DevExtreme  *@

@model List<Mitovia.Models.MeasureView>


<h1>Measures List</h1>

<div id="dataGrid"></div>

<script>
    // Convert the C# model to a JavaScript variable
    var measuresData = @Html.Raw(Json.Serialize(Model));

    // Initialize DevExtreme DataGrid
    $(function () {
        $("#dataGrid").dxDataGrid({
            dataSource: measuresData,
            columns: [
                // Define columns based on your model properties
                {
                    dataField: "id", caption: "ID", groupIndex: 0,
                },
                {
                    dataField: "name", caption: "Name"
                },
                {
                    dataField: "displayName", caption: "DisplayName", 
                },
                {
                    dataField: "valueDialID",
                    caption: "ValueDialID",
                },
                {
                    dataField: "valueDialName",
                    caption: "ValueDialName",
                },
                {
                    dataField: "description", caption: "Description", width: 400,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .append($("<span>").text(options.value.substr(0, 50))) // Display the first 50 characters
                            .append(
                                $("<a>")
                                    .text("  more...") // Ellipsis indicating there's more
                                    .attr("href", "#")
                                    .on("dxclick", function () {
                                        // Show a pop-up with the complete text when the ellipsis is clicked
                                        DevExpress.ui.notify(options.value, "info", 3000);
                                    })
                            )
                            .appendTo(container);
                    }

                },
                {
                    dataField: "lastUpdatedDateString", caption: "Last Updated",
                },

                // Add other columns as needed
            ],
            // Other DataGrid configurations as needed
            allowColumnReordering: true,
            allowColumnResizing: true,
            columnAutoWidth: true,
            columnChooser: { enabled: true },
            filterRow: { visible: true },
            searchPanel: { visible: true },
            groupPanel: { visible: true },
            columnFixing: { enabled: true },
            

        });
    });
</script>
